#photos-main-div{
    height: 100%;
    width: 90%;
    margin: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.2rem;
    
    
}
img{
    width: 100%;
}
#photo-div{
    margin-bottom: 1rem;
    position: relative;
    cursor: zoom-in;
    /* z-index: -10; */
}
#photo-download-btn{
    position: absolute;
    display: none;
    left: 22rem;
    bottom: 2rem;
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   
}

#photo-collection-btn{
    position: absolute;
    display: none;
    left: 22rem;
    cursor: pointer;
    top: 1rem;
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 3px;
   
}

#photo-like-btn{
    position: absolute;
    display: none;
    left: 19rem;
    cursor: pointer;
    top: 1rem;
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 3px;
   
}


#photo-div:hover  #photo-download-btn{
    display: block;
}

#photo-div:hover  #photo-collection-btn{
    display: block;
}

#photo-div:hover  #photo-like-btn{
    display: block;
}

.blackDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}