.dots-div{
    position: fixed;
    top: 2.7rem;
    left: 59rem;
    background-color: black;
    color: white;
    transform: rotate();
    border-radius: 5px;
    display: none;


}
.dots-div .content-list-div.active{
    visibility: visible;
    opacity: 1;
}
.dots-div .content-list-div::before{
    content: "";
    position: absolute;
    top: -8px;
    /* right: 150px; */
    left: 40px;
    width: 20px;
    height: 20px;
    background: black;
    transform: rotate(45deg);

}

.action1 .menu1::before{
    content: '';
    position: absolute;
    top:-5px;
    right: 30px;
    /* top: 30px;
    right: 150px; */
    width: 20px;
       height: 20px;
       background: rgb(224, 158, 158);
       transform: rotate(45deg);
    }

.content-list-div ul{
    list-style: none;
    padding-left: 15px;
    padding-top: 15px;
}

.content-list-div ul li{
    margin-bottom: 20px;
}

.content-list-div ul li:hover{
    cursor: pointer;
    color: gray;
}

#icon-div{
    display: flex;
    gap: 25px;
    padding: 5px 15px 20px 15px ; 
}
#icon-div i:hover{
    cursor: pointer;
    color: gray; 
}

#footer-content{
    display: flex;
    gap: 30px;
    padding: 15px;
}

#footer-content ul:hover{
    cursor: pointer;
    color: gray;
}

#footer-content span:hover{
    cursor: pointer;
    color: gray;
}

hr{
    border: 0.01px solid gray;
}