#photos-main-div{
    height: 100%;
    width: 90%;
    margin: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.2rem;
    
}
img{
    width: 100%;
}
#photo-div{
    margin-bottom: 1rem;
    position: relative;
}
#photo-btn{
    position: absolute;
    left: 23rem;
    top: 0;
}
#photo-btn1{
    position: absolute;
    left: 18rem;
    top: 0;
}